In [43]:
print("name")

name

In [44]:
print(name)

SulTan ALi

In [45]:
name : str = "Sultan Ali"
print(name)

Sultan Ali

#String Data types in python

In [46]:
#boundries
#'string text', "string text", """string text""", '''string text''', '''string text'''
name : str = "Sultan Ali"
print(type(name))
print(name)

<class 'str'>
Sultan Ali

In [47]:
message : str = 'ICMAP Student card\n father's name'

SyntaxError: unterminated string literal (detected at line 1) (3450456047.py, line 1)

In [ ]:
message : str = "ICMAP Student card \nFather's name:"
print(message)

ICMAP Student card
Father's name:

In [ ]:
message : str = 'ICMAP "Student card" \nFather name'
print(message)

ICMAP "Student card"
Father name

In [ ]:
# convert any special character into simple character, place \ before character
message : str = 'ICMAP Student card \n Father\'s name'
print(message)

ICMAP Student card
 Father's name

In [ ]:
#boundries 
#'string text', "string text", """string text""", '''string text''', '''string text'''
name : str = 'Sultan Ali'
father_name : str = 'Mubarak Ali'
education : str = 'CMA'
age : int = 26
card : str = "ICMAP Student Card\nStudent Name: " + name + "\nAge: " + age 
print(card)

TypeError: can only concatenate str (not "int") to str

In [ ]:
"a" + str(98)

'a98'

In [ ]:
#boundries 
#'string text', "string text", """string text""", '''string text''', '''string text'''
name : str = 'Sultan Ali'
father_name : str = 'Mubarak Ali'
education : str = 'CMA'
age : int = 26

card : str = "ICMAP Student Card\nStudent Name: " + name + "\nEducation: " + education + "\nAge: " + str(age)
print(card)

ICMAP Student Card
Student Name: Sultan Ali
Education: CMA
Age: 26

In [ ]:
# \ Line continuation
print(24 + \
    7 + \
    4  )

35

Define multiline string ''' ''', """ """

In [ ]:
name : str = 'Sultan Ali'
father_name : str = 'Mubarak Ali'
education : str = 'CMA'
card : str = """ 
ICMAP Student card
Student Name:...... 
Father Name: ........
Education: .......

"""
print(card)

ICMAP Student card
Student Name:......
Father Name: ........
Education: .......

#F string

In [ ]:
name : str = 'Sultan Ali'
father_name : str = 'Mubarak Ali'
education : str = 'CMA' 
age : int = 26
contact_number : int = 923029210252

card : str = f"""
ICMAP Student card
Student Name: {name}
Father Name: {father_name}
Education: {education}
Contact No: {contact_number}
"""
print(card)

ICMAP Student card
Student Name: Sultan Ali
Father Name: Mubarak Ali
Education: CMA
Contact No: 923029210252

In [ ]:
name : str = 'Sultan Ali'
father_name : str = 'Mubarak Ali'
education : str = 'Generative AI Engineer and Blockchain Developer'
card : str = f''' 
Student card
Student Name: {name}
Father Name: {father_name}
Education: {education}
'''
print(card)

Student card
Student Name: Sultan Ali
Father Name: Mubarak Ali
Education: Generative AI Engineer and Blockchain Developer

#Back ticks don't work in python

In [ ]:
name : str = 'Sulan Ali'
father_name : str = 'Mubarak Ali'
education : str = 'Generative AI Engineer and Blockchain Developer'
card : str = f""" 

Student card
Student Name: {name}
Father Name: {father_name}
Education: {education}
Total: {36 + 53+ 79+ 23}
"""
print(card)

Student card
Student Name: Sulan Ali
Father Name: Mubarak Ali
Education: Generative AI Engineer and Blockchain Developer
Total: 191

##F string and Jinja style

In [ ]:
f"""
student name {name}
"""

'\nstudent name Sulan Ali\n'

In [ ]:
#Jinja style
#this also work in html format
""" 
student name {{name}}
"""

' \nstudent name {{name}}\n'

In [ ]:
name : str = 'Sultan Ali'
father_name : str = 'Mubarak Ali'
age : int = 26
card : str = f"""
ICMAP Student card
Student Name: %s
Father Name: %s
Age: %d
"""% (name,father_name, age)
print(card)

ICMAP Student card
Student Name: Sultan Ali
Father Name: Mubarak Ali
Age: 26

In [ ]:
#list name in str class
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
a = 41
b = 52
# {} place holder
#                     0                1          0,1
"integer value a = {} and value b = {}".format(a,b)

'integer value a = 41 and value b = 52'

In [49]:
name : str = 'SulTan ALi'
print(name.capitalize())
print (name.lower())

Sultan ali
sultan ali

In [51]:
#if you change the position of the value
name : str = 'Sultan Ali'
father_name : str = 'Muarak Ali'
age : int = 26
card : str = """ 
ICMAP Student Card

Student Name: {}

Father Name: {}

Age: {}
""".format(age, father_name, name)
print(card)

ICMAP Student Card

Student Name: 26

Father Name: Muarak Ali

Age: Sultan Ali

In [52]:
#if you use indexing
name : str = 'Sultan Ali'
father_name : str = 'Muarak Ali'
age : int = 26
card : str = """ 
ICMAP Student Card

Student Name: {2}

Father Name: {0}

Age: {1}
""".format(father_name, age, name)
#                0       1     2 
print(card)

ICMAP Student Card

Student Name: Sultan Ali

Father Name: Muarak Ali

Age: 26

In [55]:
#if you use your own indexing
name : str = 'Sultan Ali'
father_name : str = 'Muarak Ali'
age : int = 26
card : str = """ 
ICMAP Student Card

Student Name: {a}

Father Name: {b}

Age: {c}
""".format(a = name, b = father_name, c = age) 
print(card)

ICMAP Student Card

Student Name: Sultan Ali

Father Name: Muarak Ali

Age: 26

#Recommended f string format

In [61]:
name : str = 'Sultan Ali'
father_name : str = 'Mubarak Ali'
education : str = 'CMA'
age : int = 26
contact_number : int = 923029210252
card : str = f""" 
ICMAP Student Card
Student Name: {name}
Father Name: {father_name}
Age: {age}
Contact Number: {contact_number}
"""
print(card)

ICMAP Student Card
#you can
Student Name: Sultan Ali
Father Name: Mubarak Ali
Age: 26
Contact Number: 923029210252

In [62]:
#just in case to check student code 
student_code : str = """
print("My Name is Sultan Ali")
a : int = 43
b : int = 51
print(a + b)
"""
exec(student_code)

My Name is Sultan Ali
94

#Exploring Sring methods and attributes
pre defined global function we have used 
* print 
* type
* id
* dir
* len

In [64]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))#checking length

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [66]:
name : str = 'SuLTan ALi'

print(name.capitalize())

Sultan ali

In [67]:
name : str = 'SuLTan ALi'

print(name.lower())

sultan ali

In [68]:
name : str = 'SuLTan ALi'

print(name.upper())

SULTAN ALI

In [69]:
name : str = 'SuLTan ALi'

print(name.swapcase())

sUltAN alI

In [73]:
name : str = 'SuLTan ALi'

print(name.isalnum())

False

In [74]:
name : str = 'SuLTan ALi'

print(name.isalpha())

False

In [76]:
name : str = 'SuLTan ALi'
print(name.casefold())

sultan ali

In [78]:
name : str = '      SuLTan ALi         '
display(name.lstrip())

'SuLTan ALi         '

In [79]:
name : str = '    Sultan Ali    '
display(name.rstrip())

'    Sultan Ali'

In [81]:
name : str = '   Sultan Ali   '
display(name)
display(name.strip())

'   Sultan Ali   '

'Sultan Ali'

In [85]:
import re
name : str = '   Sultan      Ali   '
display(name)
name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'   Sultan      Ali   '

'Sultan Ali'

In [86]:
print("Name:\t\t Sultan Ali")

Name:		 Sultan Ali

In [87]:
print("Name:\nSultan Ali")

Name:
Sultan Ali

In [88]:
print("Name:\bSultan Ali")#backspace

NameSultan Ali