# Python Operators
## Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

## Python Arithmetic Operators

In [152]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [153]:
a : int = 71
b : int = 45
print(a + b)
print(a - b)
print(a * b)
print(a / b)

116
26
3195
1.5777777777777777

In [154]:
a : int = 98
b : int = 65
print(a % b) # Modulus

33

In [155]:
a : int = 2
b : int = 6
print(a ** b) # Exponentiation

print(2**3)
print(3**5)

64
8
243

In [156]:
a : int = 45
b : int = 7
print(a / b) # division
print(a // b) # Floor division 
print(32 // 3)

6.428571428571429
6
10

# Python Assignment Operators

In [157]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [158]:
a : int = 71

In [159]:
if (a > (b := 96)): # walrus operator
    print('a is greater than b')

else: 
        print('a is less than b')

a is less than b

In [160]:
# assign operator

a : int = 71
print(a)

71

In [161]:
# += operator
a : int = 76

a += 10 # (a = a + 10)
print(a)

86

In [162]:
# -= operator
a : int = 26

a -= 10 # (a = a - 10)
print(a)

16

In [163]:
# *= operator
a : int = 87

a *= 5 # (a = a * 5)
print(a)

435

In [164]:
# /= operator
a : int = 55

a /= 5 # (a = a / 5)
print(a)

11.0

In [165]:
# %= operator
a : int = 43

a %= 11 # (a = a % 11)
print(a)

10

In [166]:
# //= operator
a : int = 68

a //= 5 # (a = a // 5)
print(a)

13

In [167]:
# **= operator
a : int = 3

a **= 4 # (a = a ** 4)
print(a)

81

#we are not covering the other operators because of their binary nature

# Python Comparison Operators

In [168]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [169]:
# == operator
x : int = 6
y : int = 7
print(x == y)
# x == y
# 6 == 7
# False

False

In [170]:
# != operator
x : int = 6
y : int = 7
print(x != y)
# x != y
# 6 != 7
# True

True

In [171]:
# > operator
x : int = 6
y : int = 7
print(x > y)
# x > y
# 6 > 7
# False

False

In [172]:
# < operator
x : int = 6
y : int = 7
print(x < y)
# x < y
# 6 < 7
# True

True

In [173]:
# >= operator
x : int = 6
y : int = 7
print(x >= y)
# x >= y
# 6 >= 7
# False

False

In [174]:
# >= operator
x : int = 6
y : int = 6
print(x >= y)
# x >= y
# 6 >= 6
# True

True

In [175]:
# <= operator
x : int = 6
y : int = 7
print(x <= y)
# x <= y
# 6 <= 7
# True

True

In [176]:
# <= operator
x : int = 7
y : int = 7
print(x <= y)
# x <= y
# 7 <= 7
# True

True

In [177]:
# <= operator
x : int = 8
y : int = 7
print(x <= y)
# x <= y
# 8 <= 7
# False

False

# ASCII code 
### when you type these characters on keyboard (e.g: alt + 65) on notepad it will print A
- A = 65
- B = 66
- Z = 90

- a = 97
- b = 98
- z = 122

- 0 = 48
- 1 = 49
- 9 = 57

In [178]:
ord('A') # it will print Unicode of character

65

In [179]:
chr(65) # it will print Unicode into character

'A'

In [180]:
a : str = 'A'
b : str = 'B'
print(b >= a)
# True, because in lexicographical order, 'B' comes after 'A', so b is considered greater than or equal to a.

True

In [181]:
a : str = 'A'
b : str = 'a' 

print(b >= a)
# True, becauseIn lexicographical order, uppercase letters come before lowercase letters. Therefore, 'a' is considered greater than or equal to 'A'.

True

# Python Logical Operators

In [182]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [183]:
# and operator mean (compulsory)
# or operator mean (optional)
# 1        2        3        4 
True and True and True and True # all conditions should be true in and operator

# In or operator if only one condition is true it will be treated as true

True

In [184]:
# and operator
#      1        2        3        4 
print(True and True and True and True) # True
print(True and False and True and True) # False 
print(False and False and False and True) # False

True
False
False

In [185]:
# or operator
#       1        2      3      4 
print(True or True or True or True) # True
print(True or False or True or True) # True 
print(False or False or False or True) # True
print(False or False or False or False) # False

True
True
True
False

In [186]:
not True

False

In [187]:
name : str = 'Sultan'
print(not name == 'Sultan') # sultan is not allowed, everyone else is allowed
# name = 'Sultan'
# 'Sultan' == 'Sultan'
# True (matches 'Sultan)

False

In [188]:
name : str = 'Sultan'
print(name != 'Sultan') # not allowed
# name = 'Sultan'
# 'Sultan' == 'Sultan'

False

# Python Identity Operators

In [189]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [190]:
x : str = 'Sultan'
z : str = 'Sultan'
print(id(x))
print(id(z))
#same memory code becasue value is same
print(x is z) # value is same True

2853120973424
2853120973424
True

In [191]:
j : str = 'Sultan'
k : str = 'Ali'
print(id(j))
print(id(k))
# diff memory code becasue value is different
print(j is k) # value is different False

2853120973424
2853120976256
False

In [192]:
x : str = 'Sultan'
z : str = 'Sultan'
print(id(x))
print(id(z))
#same memory code becasue value is same therefore they are same
print(x is not z) # value is same False

2853120973424
2853120973424
False

In [193]:
j : str = 'Sultan'
k : str = 'Ali'
print(id(j))
print(id(k))
# diff memory code becasue value is different therefore they are not same
print(j is not k) # value is different True

2853120973424
2853120976256
True

# Python Membership Operators

In [194]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [195]:
names : list[str] = [chr(i) for i in range(65, 91)]
print(names)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [196]:
print("C" in names) 
print("CMA" in names)

True
False

In [197]:
names : list[str] = [chr(i) for i in range(65, 91)]
for i in range (len(names)): # old method: for finding a character in names
    print(i, names[i])
    if (names[i] == "F"):
        print(names[i], "is foundat index",  i)
        break

0 A
1 B
2 C
3 D
4 E
5 F
F is foundat index 5

In [198]:
names : list[str] = [chr(i) for i in range (97, 122)]
print("d" in names)

True

In [199]:
if ("d" in names):
    index = names.index("d")
    print(f"'d' is found at index", index)
else:
    print('"d" is not in list of names')

'd' is found at index 3

In [200]:
names : list[str] = [chr(i) for i in range (97, 122)]
"g" not in names

False

In [201]:
user_names : list[str] = ['Sultan', 'Ali', 'Mubarak']
user_input: str = input("Enter your username") #Sultan
user_input in user_names

False

In [202]:
user_names : list[str] = ['Sultan', 'Ali', 'Mubarak']
user_input: str = input("Enter your username") #Sultan
user_input not in user_names #e.g: block this username

True

# PEMDAS
* Parentheses/Brackets
* Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
* MD Multiplication and Division (left-to-right)
* AS Addition and Subtraction (left-to-right)

In [203]:
print(32 + 18 / 6 - 3 * 9 / 3)

26.0

 To solve the expression (32 + 18 / 6 - 3 * 9 / 3) using the PEMDAS (Order of Operations) rule:

1. **Parentheses**
2. **Exponents**
3. **Multiplication and Division** (from left to right)
4. **Addition and Subtraction** (from left to right)

Let's break down the expression step by step:

1. **Parentheses:**
   - (32 + 18 / 6 - 3 * 9 / 3)

2. **Multiplication and Division:**
   - (32 + 3 - 3 * 3)

3. **Addition and Subtraction:**
   - (32 + 3 - 9)

4. **Final result:**
   - 26

In [204]:
universal_age: int = 14_000_000_000
print(universal_age) #it will ignore the underscore sign, _ is used only to write figures easily

14000000000

In [205]:
# unzip
a, b, c, d = 'Sultan', 98, 86.69, True
print(a)
print(b)
print(c)
print(d)

Sultan
98
86.69
True

In [206]:
data = 'Sultan', 98, 86.69, True
# index wise 
print(data[0], data[1], data[2], data[3])

Sultan 98 86.69 True

In [207]:
data = 'Sultan', 98, 86.69, True
print(*data)
#  it will print each element of the tuple separated by a space:

Sultan 98 86.69 True

In [208]:
print(2 * 3)
print("a" * 5)

6
aaaaa

In [209]:
#you can also use """ """ as comments
""" 
whatever will be wriiten in this string can also be treater as comments
"""
print("Pakistan Zinda bad") # only this will print

Pakistan Zinda bad

### Zen of python
which is a collection of guiding principles for writing computer programs in the Python language

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!